#page-create-user{
    display: flex;
    min-height: 100vh;
}

main{
    flex: 1;
}
#img{
    max-width: 98px;
    max-height: 98px;
}

#page-create-user{
    background-color: #8CE2E2;
}

#lost-password{
    padding: 10px;
    margin-left:0.5rem;
    text-decoration: none;
}




