<!DOCTYPE html>
<html lang="pt_BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Adicionar um | Happy</title>

    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""
    />

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script
      src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""
    ></script>

    <link rel="icon" href="/images/logo-icon.jpg" />

    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/page-create-user.css" />
    <link rel="stylesheet" href="/css/animations.css" />
    <link rel="stylesheet" href="/css/sidebar.css" />
    <link rel="stylesheet" href="/css/map.css" />
    <link rel="stylesheet" href="/css/form.css" />
    <link rel="stylesheet" href="/css/buttons.css" />

    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="page-create-user">
      <aside class="animate-right sidebar">
        <img src="/images/logo-icon.jpg" alt="ads" id="img" />

        <footer>
          <button onclick="history.back()">
            <img src="/images/arrow-back.svg" alt="Voltar" />
          </button>
        </footer>
      </aside>

      <main class="animate-appear with-sidebar">
        <form action="save-school" method="post" onSubmit="validate(event)">
          <fieldset>
            <legend>Usuário</legend>

              <div class="input-block images">
              <label for="images">foto</label>

              <div class="images-upload" id="images"s>
              
                <div class="new-upload">
                  <input name="images" placeholder="Cole o link da foto aqui" required   type = "url"/>
                  <span onclick = "deleteField(event)">
                    <img src="/images/remove-file.svg" alt="Remover Foto">
                  </span>
                </div>
            
                
              </div>
              
            </div>

            <div class="input-block">
              <label for="name">Nome</label>
              <input id="name" name="name" required/>
            </div>

            <div class="input-block">
              <label for="cpf">CPF</label>
              <input id="cpf" name="cpf" required/>
            </div>

            <div class="input-block">
              <label for="email">E-mail</label>
              <input id="email" name="email" required/>
            </div>

            <div class="input-block">
              <label for="telefone">Telefone</label>
              <input id="telefone" name="telefone" required/>
            </div>

            <div class="input-block">
              <label for="date">Data de Nacimento</label>
              <input id="date" name="date" required/>
            </div>

            <div class="input-block">
              <label for="cargo">Cargo</label>
              <input id="cargo" name="cargo" required/>
            </div>

            <div class="input-block">
              <label for="Endereco">Endereço</label>
              <input id="endereco" name="endereco" required/>
            </div>
              <div class="input-block">
              <label for="uf">UF</label>
              <input id="uf" name="uf" required/>
            </div>

         
          </fieldset>

          <fieldset>

              <button type = "submit" class="primary-button">
                Confirmar
              </button>

            </div>
          </fieldset>
        </form>
      </main>
    </div>

    <script src="/scripts/page-create-user.js"></script>
  </body>
</html>
